# Intro Notebook

## Author: Emmanuel Rodriguez

Date: 10 May 2022

### Numpy basics

In [1]:
import numpy as np

array1 = np.array([3,33,333])

print(array1)
print(type(array1))

[  3  33 333]
<class 'numpy.ndarray'>

In [2]:
# Print the shape of the array
print(array1.shape)

(3,)

In [3]:
# ndarray are mutable, which means we can change their elements
array1[2] = 666
print(array1)

[  3  33 666]

### Pandas basics

In [4]:
import pandas as pd

In [5]:
# pandas Series
ser = pd.Series(data = [100,200,300,400,500], index = ['tom','bob','nancy','dan','eric'])

In [6]:
ser

tom      100
bob      200
nancy    300
dan      400
eric     500
dtype: int64

In [7]:
# Arithmetic operations on Series datastructures
ser * 2

tom       200
bob       400
nancy     600
dan       800
eric     1000
dtype: int64

In [8]:
# pandas DataFrames
# dictionary - a dictionary maps a key to a value, a dataframe maps a column name to a series of column data
d = {'one' : pd.Series([100., 200., 300.], index = ['apple','ball','clock']),
    'two' : pd.Series([111., 222., 333., 444.], index = ['apple','ball','cerill','dancy'])}

In [9]:
# Load dictionary into a dataframe
df = pd.DataFrame(d)
df

          one    two
apple   100.0  111.0
ball    200.0  222.0
cerill    NaN  333.0
clock   300.0    NaN
dancy     NaN  444.0